

{% block main %}
  <head>
    <title>Game Rules</title>
  </head>
  <body>

    <h1>Game Rules</h1>
    <p>
      <b> What is fruit challange? </b>
    </p>
    <small> Fruit challange is a game designed for everyone who needs a little more motivation to eat fruit. </small>
    <p>
      <b> What counts as fruit? </b>
    </p>
    <small> Only fresh fruit counts as fruit. Fruits that have been processed or altered in any way do not count. This includes:
      <ul>
        <li>juices and smoothies</li>
        <li>frozen fruit </li>
        <li>candy</li>
      </ul>
    </small>
    <p><a href="/">Home</a></p>
  </body>

{% endblock %}
