<!DOCTYPE html>
<html>
<head>
<title>Fruit Challenge</title>
</head>
<body>

<h1>Welcome to the fruit challenge</h1>
<img src="moerbijboom.jpg" alt="Van Gogh's Moerbijboom" width="500" height="450">
<!-- <img src="{{ boom }}" alt="Moerbijboom">  -->
<p> Your total score is: #TODO</p>
<p> Your week score is: #TODO</p>
<p> Today you ate:  #TODO</p>
<p> You have a #TODO day streak</p>
<p><a href="/game_rules">The game rules</a></p>
<p><a href="/history">See your fruit history</a></p>
<p><a href="/friends">find friends</a></p>
<p><a href="/friend_request">friend requests</a></p>
<p><a href="/poll">poll</a></p>
<p><a href="/track">track</a></p>
<p><a href="/login">login</a></p>
<p><a href="/info">info</a></p>


</body>
</html>
